<div id="modalDadosUsuario" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Dados Usuário</h4>
            </div>
            <div class="modal-body">
                <p>Nome: <span data-ng-bind="usuarios.usuario.nome"></span></p>
                <p>E-mail: <span data-ng-bind="usuarios.usuario.email"></span></p>
                <p>Telefone: <span data-ng-bind="usuarios.usuario.telefone"></span></p>
                <p>Cpf: <span data-ng-bind="usuarios.usuario.cpf"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>

    </div>
</div>

